div{
    box-sizing: border-box;
    text-align: center;
    border-style: double;
}

.Header{background-color: yellow;}
.LeftSidebar{background-color: darkblue;}
.Main{background-color: aquamarine;}
.Footer{background-color: mediumvioletred;}
.RightSidebar{background-color: orangered;}

.flex-container {
    width: 700px;
    height: 200px;

    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-container2 {
    width: 495px;
    height: 200px;

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.Header{
    width: 700px;
    height: 60px;

}

.LeftSidebar{
    width: 200px;
    height: 193px;
}

.Main{
    width: 350px;
    height: 100px;
}

.RightSidebar{
    width: 139px;
    height: 100px;
}

.Footer{
    width: 500px;
    height: 89px;
}



.Head{background-color: aqua;}
.Foot{background-color: aqua;}
.Aside{background-color: yellowgreen;}
.flex-container4{background-color: orangered;}
.Image1{background-color: orange;}
.Image2{background-color: orange;}
.Image3{background-color: orange;}

.Head{
    width: 700px;
    height: 60px;

}

.Foot{
    width: 700px;
    height: 60px;
}

.second {
    border-style: hidden;
    color: white;
}

.flex-container3 {
    width: 500px;
    height: 200px;

    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-container4 {
    width: 497px;
    height: 200px;

    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
}

.Aside{
    width: 200px;
    height: 195px;
}

.Article{
    width: 500px;
    height: 100px;
}

.Image1{
    width: 120px;
    height: 80px;
}

.Image2{
    width: 120px;
    height: 80px;
}

.Image3{
    width: 120px;
    height: 80px;
}
